body{
    background-color: #858585;
    height: 1500px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
header{
    height: 275px;
    width: 1200px;
    background: linear-gradient(
    55deg,
    rgba(0, 0, 0, 1) 17%,
    rgba(158, 158, 158, 1) 84%
    );
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  background-blend-mode: normal;
}
section{
    background-color: rgb(96, 96, 96);
    height: 1250px;
    width: 1200px;
    margin-top: 25px;
    padding-top: 50px;
}
#infoPersonal{
    width: 500px;
    float: left;
}
#infoPersonal p{
    color: whitesmoke;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 20px;
    padding-left: 25px;
}
p#nombre{
    color: orange;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 50px;
    font-weight: bolder;
    padding-left: 45px;
}
ul li{
    color: whitesmoke;
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}
#contFotoPpal{
    height: 275px;
    margin-right: 150px;
    float: right;
    position: relative;
}
#contFotoPpal img{
    width: 300px;
}
#imgAcercaDe{
    height: 290px;
    width: 435px;
    margin-left: 10px;
    float: left;
    background-color: rgb(44, 44, 44);
    border-radius: 3px;
}
#imgAcercaDe p, #formulario p{
    font-size: 45px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    color: orange;
    margin-top: 100px;
    text-align: center;
}
#acercaDe{
    background-color: orange;
    height: 290px;
    width: 740px;
    margin-right: 10px;
    float: right;
    opacity: 0.7;
    border-radius: 3px;
}
#acercaDe p{
    color: black;
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
#contExperiencias{
    width: 1100px;
    height: 280px;
    margin-left: 50px;
    margin-top: 50px;
    background-color: rgb(44, 44, 44);
    display: inline-block;
    border-radius: 5px;
}
#contExperiencias li{
    margin-top: 20px;
}
#contExperiencias ul li img{
    width: 100px;
    float: inline-start;
    border-radius: 15px;
    margin-left: 25px;
}
#contExperiencias ul li img:hover{
    opacity: 0.8;
    box-shadow: 7px 8px 9px 0px rgba(0, 0, 0, 0.6);
    transition: box-shadow .35s ease-in-out;
}
#contExperiencias p{
    font-size: 35px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;  
    color: orange;
    margin-left: 35px;
}
#contExperiencias ul{
    list-style-type: none;
}
footer{
    background: linear-gradient(
        55deg,
        rgba(0, 0, 0, 1) 17%,
        rgba(158, 158, 158, 1) 84%
        );
    margin-top: 15px;
    width: 1200px;
    height: 200px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
#contacto{
    float: right;
    display: inline-flex;
    list-style-type: none;
}
#contacto img{
    width: 55px;
    margin-top: 5px;
    margin-right: 20px;
}
#contacto img:hover{
    width: 65px;
    transition: width .35s ease-in-out;
}
footer p{
    font-size: 35px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;  
    color: orange;
    margin-left: 35px;
    padding-top: 18px;
}
#formulario{
    width: 650px;
    height: 450px;
    background-color: rgb(44, 44, 44);
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal; 
    color: whitesmoke;
}
.form-group, button{
    margin-left: 25px;
    margin-right: 25px;
}
button{
    float: right;
    margin-top: 25px;
}